<section class="container hero">
  <div id="hero-container">
    <div class="hero-card">
      <div class="card-body-outer d-flex">
        <div class="card-body-inner">
          <h2 class="color-gradient">Beam College</h2>
          <h3>Online Training</h2>
          <p>April 21-23, 2026</p>
          <div data-tf-live="01KE7NWXCCCAT7EFVMSY74BM4H" data-tf-loaded="true">
            <a class="btn btn-hero rounded-pill fw-600 herocta" href="/register">Register now ></a>
          </div>   
          
        </div>
      </div>
    </div>
    <div class="hero-img">
      <img class="img-fluid" src="/images/firefly-greeting.png">
    </div>
  </div>
</section>

