<section class="container hero">

  <div class="mb-2" style="background-color: #ff6d00; border-radius: 20px;">
    <div class="container text-center">
      <div class="row">

        <div class="col-5 mt-3 mb-2">
          <img src="/images/liberbee.png" class="img-fluid liberbee-img" width="100">
          <img src="/images/beam-summit.png" class="img-fluid d-none d-md-inline" width="150" style="background-color: white; border-radius: 20px;">
        </div>
        <div class="col-7 mt-4">

          <p style="font-size: 14px; font-weight: 800;" class="text-white">Join us for Beam College
            2025 this May 15th & 18th. It's free and online. <br>Don't miss the online training + hackathon!</p>

          <a href="https://beamcollege.dev/" target="_blank" class="nav-link btn-cta text-uppercase mb-4"><strong>Register</strong></a>

        </div>
      </div>
    </div>
  </div>

  <div id="hero-container">
    <div class="hero-card">
      <div class="card-body-outer d-flex">
        <div class="card-body-inner">
          <h2 class="mb-0 color-gradient">Beam College 2025</h2>
          <h3>Online Training + Hackathon</h2>
            <p>May 15-18, 2025</p>
            <div data-tf-live="01JM0Z8E7Q4K9M8TSQH11P1SD1" data-tf-loaded="true">
              <a class="btn btn-hero rounded-pill fw-600 herocta" href="/register">Register now ></a>
            </div>
        </div>
      </div>
    </div>
    <div class="hero-img">
      <img class="img-fluid" src="/images/firefly-greeting.png">
    </div>
  </div>
</section>