<section class="container hero">
  <div id="hero-container">
    <div class="hero-card">
      <div class="card-body-outer d-flex">
        <div class="card-body-inner">
          <h2 class="mb-0 color-gradient">Beam College</h2>
          <!--<h3>Online Training + Hackathon</h2>
            <p>May 15-18, 2025</p>-->
            <div class="mt-3">
              <a class="btn btn-hero rounded-pill fw-600 herocta" href="https://docs.google.com/forms/d/e/1FAIpQLSdkJFz2KRNrUYlw9sZJelnimk99hI36mpZOXohZyIC5wrveSQ/viewform?usp=sharing&ouid=117891195481266292529">Subscribe for Updates!</a>
            </div>
          
        </div>
      </div>
    </div>
    <div class="hero-img">
      <img class="img-fluid" src="/images/firefly-greeting.png">
    </div>
  </div>
</section>