<section id="partners" class="section partners">
  <div class="container">
    <h2 class="principles-header text-center">Sponsored by</h2>

    <div class="row">

      <div class="col-md-4">
        <a href="https://cloud.google.com" target="_blank">
          <img class="img-fluid" src="/images/partners/googlecloud-logo.png">
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://www.packtpub.com/en-us " target="_blank">
          <img class="img-fluid" src="/images/partners/packt.png">
        </a>
      </div>

      <div class="col-md-4">
        <a href="https://clowder.space" target="_blank">
          <img class="img-fluid" src="/images/partners/clowder-space.png">
        </a>
      </div>


    </div>


  </div>
</section>