<section id="partners" class="section partners">
  <div class="container">
    <h2 class="principles-header text-center mb-4">Sponsored by</h2>

    <div class="row mb-4">
      <div class="col-md-12">
        <a href="https://cloud.google.com" target="_blank">
          <img class="img-fluid mx-auto d-block" src="/images/partners/googlecloud-logo.png">
        </a>
      </div>
    </div>

      <h2 class="principles-header text-center mb-4">Community Partners</h2>

      <div class="container text-center">
        <div class="row">
          <div class="col">
            <a href="https://clowder.space" target="_blank">
          <img class="img-fluid mx-auto d-block" src="/images/partners/clowder-space.png" width="300">
        </a>
          </div>
          <div class="col">
            <a href="https://beam.apache.org/" target="_blank">
          <img class="img-fluid mx-auto d-block" src="/images/partners/apache-beam.png" width="300">
        </a>
          </div>
          <div class="col">
            <a href="https://www.mentormecollective.org/" target="_blank">
          <img class="img-fluid mx-auto d-block mt-3" src="/images/partners/mmc-mentor.png" width="300">
        </a>
          </div>
          <div class="col">
            <a href="https://devitjobs.com" target="_blank">
          <img class="img-fluid mx-auto d-block mt-3" src="/images/partners/devitus.png" width="300">
        </a>
          </div>
          <div class="col">
            <a href="https://www.packtpub.com/en-us?srsltid=AfmBOoq0jMjBWiYj29nthsZEAnUn-4jDa3RJzPjJqB1YpubQgy8JtP75" target="_blank">
          <img class="img-fluid mx-auto d-block mt-3" src="/images/partners/packt.png" width="300">
        </a>
          </div>          
        </div>
      </div>
  </div>
</section>