<section id="partners" class="section partners">
  <div class="container">
    <h2 class="principles-header text-center mb-4">Sponsored by</h2>

    <div class="row mb-4">

      <div class="col-md-12">
        <a href="https://cloud.google.com" target="_blank">
          <img class="img-fluid mx-auto d-block" src="/images/partners/googlecloud-logo.png">
        </a>
      </div>



    </div>

    <div class="row">

    <h2 class="principles-header text-center mb-4">Community Partners</h2>

      <div class="col">
        <a href="https://clowder.space" target="_blank">
          <img class="img-fluid mx-auto d-block" src="/images/partners/clowder-space.png" width="300">
        </a>
      </div>

    </div>


  </div>
</section>