<section id="retos">
    <div class="container">
    <h2 class="text-center">What you will <span class="color-gradient">learn</span></h2>
        <div class="card-strip">
          {{ range where .Site.RegularPages "Type" "topics"}}
          <div class="card mx-1 mb-3">
            {{ $img := resources.Get (index .Params.images 0) }}
            {{ with $img }}
              <div class="card-img">
                <img src="{{$img.RelPermalink }}" class="card-img-top" alt="{{.Title}}">
              </div>
            {{ end }}
            <div class="card-body">
              <h5 class="card-title">{{.Title}}</h5>
              <p class="card-text">{{ .Content | .RenderString }}</p>
            </div>
          </div>        
          {{ end }}
        </div>
      </div>  
    </div>
  </section>
  